h1, h2, h3, h4, h5, h6, .huge, .large {
  font-family: 'Open Sans Light',sans-serif;
  font-weight: normal;
  display: block;
  margin: 0pt 0pt 12px;
  line-height: 100%;
  text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.75);
  color: rgb(72, 72, 72);
}

#masthead {
  display: block;
  position: relative;
  width: 712px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0pt auto;
  position: relative;
}

nav, header {
  display: block;
}

#masthead nav ul li a, #masthead nav ul li b {
  display: inline-block;
  padding: 12px;
  font-weight: normal;
  text-decoration: none;
  border: 0pt none;
}

#masthead nav ul li {
  display: inline;
  list-style-type: none;
}

#masthead nav {
  display: block;
  float: right;
  margin-right: 16px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Open Sans',sans-serif;
}

.projDesc {
    margin: 6px;
    color: gray;
    font: 12px Georgia,serif;
}

#leftCol, #rightCol {
  display: inline-block;
}

#mainDiv {
  display: block;
}

#gameShot {
  float: left;
}

.buttonBlue, .buttonBlue:link, .buttonBlue:visited {
  background-color: rgb(39, 97, 149);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgb(60,136,204), rgb(39, 97,149));
}

.buttonBlue:hover, .buttonBlue:link:hover, .buttonBlue:visited:hover {
  box-shadow: 0pt 2px 0pt 0pt rgba(0, 0, 0, 0.1),
              0pt -2px 0pt 0pt rgba(0, 0, 0, 0.2) inset,
              0pt 12px 24px 2px rgb(48, 137, 216) inset;
  color: rgb(255, 255, 255);
  text-decoration: none;
  -moz-transition: all 0.25s linear 0s;
}

.button {
  height: auto;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  float: none;
}

.button small {
  display: block;
  font-size: 12px;
  line-height: 16px;
}
